.drop-area {
    border: 3px dashed #afbdcd;
    border-radius: 10px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.drag-over {
    border: 4px dashed #24509d;
}

.file-item {
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.file-input {
    display: none;
}