/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  height: calc(100vh - 6em);
}

.row {
  max-width: 75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: aquamarine;
  height: 4em;
}

main {
  flex: 1;
  margin: 32px;
  box-sizing: border-box;
}

footer {
  height: 2em;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
